*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-color: #4CAFEB;
    font-family: "Zen Kaku Gothic New", sans-serif;
}
.top-screen{
    display: flex;
    justify-content: space-between;
}
.top-screen-title{
    text-align: center;
    color: #E9EFD3;
    font-weight: 700;
    font-style: normal;
    padding-right: 13%;
}
.top-screen-title h1{
    font-size: 64px;
    margin-top: 10px;
}
.top-screen-sub{
    color: #E9EFD3;
    /* position: absolute;
    bottom: 0;
    left: 5%; */
    text-align: center;
    padding: 1% 4%;
    margin-top: auto;
}
.sub-name p{
    font-size: 34px;
}
.sub-volume p{
    font-size: 64px;
}
.sub-explanation{
    font-size: 16px;
    text-align: right;
}
.line{
    width: 100%;
    height: 15px;
    border-top: 4px solid #E9EFD3;
    border-bottom: 4px solid #E9EFD3;
    margin: 100px 0;
}
.sensence-container{
    text-align: center;
    color: #E9EFD3;
    font-size: 24px;
    line-height: 90px;
}
.menber-container{
    margin-top: 100px;
    text-align: center;
}
.menber-container h2{
    font-size: 50px;
    margin: 30px 0;
    color: #E9EFD3;
}
.menber-introduce{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    max-width: 1210px;
    margin: auto;
    margin-top: 50px;
}
.introduce img{
    width: 350px;
}
.introduce a{
    display: block;
    position: relative;
}
.introduce a::before{
    content: "see more";
    color: #000;
    font-size: 20px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    width: 350.3px;
    height: 437.5px;
    background-color: #e9efd3ad;
    opacity: 0;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 49.5%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
.introduce a:hover::before{
    opacity: 1;
}
.recreation-container{
    margin-top: 100px;
    text-align: center;
}
.recreation-container h2{
    font-size: 50px;
    margin: 30px 0;
    color: #E9EFD3;
}
.YouTube{
    width: 80vw;
    height: 50vw;
    object-fit: cover;
    margin-top: 100px;
}
.comingsoon{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    width: 120vw;
    margin-top: -60%;
}
.footer{
    position: relative;
    height: 100px;
    background-color: #4CAFEB;
    border-top: solid 2px #E9EFD3;
    margin-top: 70px;
}
.footer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #E9EFD3;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 550;
}
.sp-br{
    display: none;
}
/* スマホ版 */
@media (max-width:500px){
    .sensence-container{
        font-size: 14px;
        line-height: 60px;
    }
    .sp-br{
        display: block;
    }
    .line{
        border-top: 3px solid #E9EFD3;
        border-bottom: 3px solid #E9EFD3;
    }
    .YouTube{
        width:350px;
        height:250px;
        margin-top: 70px;
    }
}